.search-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 12%;
    max-width: 200px;
    height: 100vh;
    padding: 10px;
    background-color: #1d1d1d;
    border: 1px solid #ccc;
    color: #fff;
}

.search-bar label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.search-bar input[type="text"] {
    padding: 3px;
    margin-bottom: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #d4af37;
    outline: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    max-width: 180px;
}

.search-bar select {
    padding: 6px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #d4af37;
    outline: none;
    background-color: transparent;
    color: #444;
    width: 100%;
    max-width: 200px;
}

.search-bar input {
    background-color: #d4af37;
    color: #000;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar input:hover {
    background-color: #c19a32;
}

.search-bar input[type="submit"] {
    margin: auto;
    display: block;
}

.search-bar input[type="submit"] span {
    margin-left: 5px;
}

.search-bar input[type="submit"]:hover {
    background-color: #fff;
    color: #1d1d1d;
}